.nav-bg{
  background-image:url(../../images/header-bg.jpg) ;
  background-repeat: no-repeat;
  
}

.navbar-dark {
  background-image: linear-gradient(to bottom, #0C172D, #000000) !important;
  max-width: 1700px;
  max-height: 600px;
}


.logo{
  width: 200px;
}


.radio-announcer{
  width: 80px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
}


.animated-btn {
  color: #fff !important;
  position: relative;
  /* CHANGE THE RIGHT WHEN MAKING BREAKPOINTS FOR OTHER DEVICES */
  /* right: 14rem; */
  overflow: hidden;
  border: 1px solid #FF0066 !important;
  padding: 0.5rem 1rem !important;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  box-shadow: 0px 4px 16px rgb(0 0 0 / 50%);

  span {
    margin-left: 10px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #FF0066;
    transition: all 0.5s;
    z-index: -1;
  }

  &:hover:before {
    width: 100%;
  }
}


@media screen and (max-width: 767px) {
  .radio-announcer{
    left: 45%;
    top: 60%;
    overflow: hidden !important;
  }
  
}


