
:root{
    --bg-color:#0C172D;
    --text-color:#FFFFFF;
  }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        background:accent;
        color: var(--text-color) !important;
        background-color: var(--bg-color) !important;
      }
  
      section{
        margin-top: 6rem;
        
      }

      @media (max-width: 767px) { 
        section {
          margin-top: 10rem; 
        }
      }
      