:root {
  --bg-color: #0C172D;
  --text-color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}

li {
  list-style: none;
}

body {
  scroll-snap-type: y mandatory !important;
  scroll-behavior: smooth !important;
  overflow-y: auto !important;
  scroll-snap-align: center !important;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  
  color: var(--text-color) !important;
  background-image: url(./images/blob-upgrade.svg);
  background-repeat: no-repeat;
  background-size: cover;
  
  
  font-family: 'Prompt', sans-serif !important;
  overflow-x: hidden !important;
}

section {
   margin-top: 4rem !important; 
  position: relative !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
justify-content: center !important;
//  height: 100vh !important;
  padding-top: 100px !important;
  

}

