:root {
  --text-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
  overflow: hidden !important;

  scroll-behavior: smooth !important;
  overflow-y: auto !important;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

li {
  list-style: none;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif !important;
  text-align: center !important;

  color: var(--text-color) !important;
  background-image: url(./images/blob-upgrade.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  font-family: "Prompt", sans-serif !important;
  overflow-x: hidden !important;
}

section {
  margin-top: 1rem !important;
  position: relative !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;

  padding-top: 80px !important;
  @media only screen and (max-width: 820px) {
    padding-top: 8rem !important;
  }
}
 


